* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 5px 0;
}

form {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    border-radius: 5px;
}

.msg {
    color: #ff0000;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.error {
    border-bottom: 3px solid #ff0000;
}